<pizza-header></pizza-header>

<!-- Button trigger modal -->
<div class="d-flex justify-content-end">
  <button type="button" class="btn btn-primary m-3" data-bs-toggle="modal" data-bs-target="#ingredientModal">
    Nueva Ingrediente
  </button>
</div>

<!-- Modal -->
<pizza-modal title="Crear Ingrediente" modalId="ingredientModal">
  <pizza-add-ingredient></pizza-add-ingredient>
</pizza-modal>



<!--Table Ingredient-->

<pizza-table-ingredient [ingredients]="ingredients"></pizza-table-ingredient>


